.tour-list {
  padding: 2rem;
  background-color: inherit; /* Átveszi a body háttérszínét */

}

.tour-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}


:host {
  /* ezzel block szintűvé változtatod az <app-root>-ot */
  display: block;
  /* opcionálisan kiterjeszted 100% magasságra */
  min-height: 100vh;
}
