.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #ffffff;

  flex-wrap: wrap;
}

.auth-buttons button,
.page-links button {
  margin: 0.25rem;
}

.page-links .active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
